body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
}

button {
  background-color: #8B4513; /* Reddish-brown */
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

button:hover {
  background-color: #A52A2A; /* Darker shade */
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
  color: #8B4513;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 5px;
}

a:hover {
  color: #A52A2A;
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
